.AddNewDishWrapper {
    margin: 200px auto 0;
    text-align: center;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0, rgba(14, 30, 37, 0.32) 0 2px 16px 0;
    padding: 40px;
}

.AddNewDishWrapper input {
    width: 90%;
    border: none;
    background: #FFF;
    margin: 10px 0;
    padding: 15px;
    font-size: 26px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px, rgb(51, 51, 51) 0 0 0 3px;
}

.AddNewDishWrapper__submit-btn {
    padding: 20px;
    font-weight: bold;
    font-size: 24px;
    margin-top: 30px;
    box-shadow: rgba(17, 17, 26, 0.1) 0 1px 0, rgba(17, 17, 26, 0.1) 0 8px 24px, rgba(17, 17, 26, 0.1) 0 16px 48px;
    cursor: pointer;
    transition: transform .2s ease-in-out;
}

.AddNewDishWrapper__submit-btn:hover {
    transform: translateY(-5px);
}