.OrdersWrapper {
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 40px auto;
    max-width: 1200px;
    align-items: center;
    padding: 30px;
}

.OrdersWrapper__price {
    font-weight: bold;
    font-size: 24px;
}

.OrdersWrapperCost {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.OrdersWrapperCost__title {
    font-weight: bold;
    font-size: 20px;
}

.OrdersWrapper__complete-order {
    font-size: 17px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
}