body {
    margin: 0;
    padding: 0;
}

.Header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
}

.Header__user-order {
    color: #000;
    font-size: 30px;
}

.Header__dishes, .Header__orders {
    display: inline-block;
    font-size: 30px;
    color: #000;
}

.Header__dishes::after {
    content: '';
    display: inline-block;
    width: 4px;
    height: 50px;
    background: #000;
    margin: 0 20px;
    position: relative;
    top: 12px;
}

.Header__line {
    width: 100%;
    background: #000;
    height: 3px;
}