.UserOrderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px solid black;
    margin: 50px auto;
    max-width: 1200px;
    padding: 40px;
}

.UserOrderContainer img {
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

.UserOrderContainer p {
    font-size: 30px;
    font-weight: bold;
}

.UserOrderContainer button {
    font-size: 20px;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
}
