.Dishes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}

.Dishes__title {
    font-size: 30px;
}

.Dishes__add-btn {
    font-size: 25px;
    padding: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
    cursor: pointer;
    transition: all .2s ease-in-out;
    font-weight: bold;
}

.Dishes__add-btn:hover {
    transform: translateY(-5px);
}

.DishesContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 4px solid silver;
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
    margin: 50px auto;
    max-width: 80%;
    border-radius: 20px;
    padding: 30px;
}

.DishesContent__img {
    width: 600px;
    height: 350px;
    border-radius: 10px;
}

.DishesContent__name {
    font-size: 30px;
}

.DishesContent__price {
    font-size: 28px;
    font-weight: bold;
}

.DishesContent__edit-btn, .DishesContent__delete-btn, .DishesContent__order-btn {
    font-size: 20px;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
}